/* app accessibility colors */
:root {
  --pure-black-color: #000000;
  --pure-white-color: #ffffff;
  --brunswick-green-color: #29524a;
  --burnt-sienna-color: #dd6e42;
  --floral-white-color: #fcf9ed;
}

