/* app accessibility colors */
:root {
  --pure-black-color: #000000;
  --pure-white-color: #ffffff;
  --brunswick-green-color: #29524a;
  --burnt-sienna-color: #dd6e42;
  --floral-white-color: #fcf9ed;
}

/* .resultpage-main-div {
  height: max-content;
} */

#resultpage-h1 {
  text-align: center;
  padding: 2rem 0;
  font-size: 4rem;
  font-weight: 400;
}

#resultpage-div {
  /* width: 80%; */
  text-align: center;
  display: grid;
  place-content: center;
  padding: 2rem;
}

#see-results {
  text-align: center;
  display: grid;
  place-content: center;
 margin: 4rem auto 6rem auto;
 cursor: pointer;
}

a {
  text-decoration: none;
}

/*  <Navbar />
            <h1>Here are your carbon footprint results!</h1>
            <Results />
            <Link to="/Actions">
            <button className="see-results-button"> Take Action! </button>
            </Link>
 */
