:root {
  --pure-black-color: #000000;
  --pure-white-color: #ffffff;
  --brunswick-green-color: #29524a;
  --burnt-sienna-color: #dd6e42;
  --floral-white-color: #fcf9ed;
}

.SeeResultsButton {
     width: 20rem;
  height: 3.5rem;
  grid-column: 10;
  grid-row: 8;
  background-color: var(--burnt-sienna-color);
  color: var(--floral-white-color);
  font-size: 1.5rem;
}