:root {
  --pure-black-color: #000000;
  --pure-white-color: #ffffff;
  --brunswick-green-color: #29524a;
  --burnt-sienna-color: #dd6e42;
  --floral-white-color: #fcf9ed;
}
.question-title {
  text-align: center;
    padding: 3rem;
    font-size: 3rem;
    font-weight: 400;
}
 .answer-button {
  text-align: center;
  width: 30rem;
  height: 3.5rem;
  margin: 1rem auto;
  background-color: var(--brunswick-green-color);
  color: var(--floral-white-color);
  font-size: 1.5rem;
}
.answer-button:hover {
  cursor: pointer;
}
