:root {
  --pure-black-color: #000000;
  --pure-white-color: #ffffff;
  --brunswick-green-color: #29524a;
  --burnt-sienna-color: #dd6e42;
  --floral-white-color: #fcf9ed;
}

 .see-results-button {
  width: 30rem;
  height: 3.5rem;
  margin: 2rem auto;
  background-color: var(--burnt-sienna-color);
  color: var(--floral-white-color);
  font-size: 1.5rem;
  margin-left: 5rem;
}

